<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.flutter_dmcb_alibc">

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="n">

        <activity
            android:name=".CustomActivity"
            android:exported="true"
            android:screenOrientation="behind"
            android:theme="@style/dialog_activity" />

        <activity android:name="com.alibaba.alibclinkpartner.smartlink.ALPEntranceActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.alibaba.intent.action.GETWAY"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="linkpartner" android:pathPrefix="/entrance" android:scheme="tbopen"/>
            </intent-filter>
        </activity>

        <receiver
            android:name="com.alibaba.baichuan.trade.biz.login.LoginBroadcastReceiver"
            android:exported="false">
        </receiver>
        <receiver
            android:name="com.alibaba.alibclogin.listener.LoginBroadcastReceiver"
            android:exported="false">
        </receiver>
        <activity
            android:name="com.taobao.avplayer.playercontrol.hiv.DialogActivity"
            android:exported="false">
        </activity>
        <service
            android:name="com.alibaba.triver.TRACCSService"
            android:exported="false">
        </service>
    </application>
</manifest>
